<div class="customLoading">
    <div class="customLoader"></div>
</div>
<div class="row">
    <div class="create-bh mt-3">
        <button type="button" class="btn btn-danger mr-3" (click)="deleteMultiRoom()">
      Tạo thông báo
    </button>
    </div>
    <div *ngIf="message && message.type == 1; else errMess" class="alert alert-success" role="alert">
        {{message.content}}
    </div>
    <ng-template #errMess>
        <div *ngIf="message && message.content != ''" class="alert alert-danger" role="alert">
            {{message.content}}
        </div>
    </ng-template>
    <router-outlet></router-outlet>
</div>