  table.mat-elevation-z8 {
    width: 100%;
    margin-top: 20px;
  }
  table.mat-elevation-z8 th{
    font-size: 1.1rem;
    color: black;
  }

  .single-table th{
    font-size: 13px;
    text-transform: none;
  }
  #modalEquipment{
    margin: 0 auto;
  }
  .create-bh{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
  }
  .form-group.row{
    margin-bottom: 0;
  }

  .page-footer{
    background: #fff;
    padding-top: 1.1rem;
}

@media only screen and (max-width: 600px) {
  .pagination{
    display: flex;
    justify-content: center;
  }
} 
.popover-body {
  background: aliceblue;
  font-size: 1.1rem;
}
.my-custom-class{
  background: aliceblue;
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
  table.mat-elevation-z8 td{
    font-size: 0.6rem;
  }
  table.mat-elevation-z8 th{
    font-size: 0.8rem;
  }
  table.mat-elevation-z8 button{
    font-size: 0.8rem;
    padding: 4px;
  }
  table.mat-elevation-z8 ul{
   margin-bottom: 0;
   margin-left: 0.4rem;
  }
  table ul li:first-child{
    margin-right :5px!important;
    margin-left :5px!important;
  }
} 