<div class="customLoading">
    <div class="customLoader"></div>
</div>
<div class="row">
    <div class="create-bh mt-3">
        <button type="button" class="btn btn-primary mr-3" (click)="createRt()">
            Tạo loại phòng
        </button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalEquipment">
            So sánh tiện ích
        </button>
    </div>
    <div class="modal fade bd-example-modal-lg" id="modalRoomType">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <form [formGroup]="createRtFormGroup" (ngSubmit)="onSubmit()">
                    <div class="modal-header">
                        <h5 *ngIf="isEdit == 0; else edit" class="modal-title">Tạo loại phòng</h5>
                        <ng-template #edit>
                            <h5 *ngIf="isEdit == 1" class="modal-title">Sửa thông tin loại phòng</h5>
                        </ng-template>
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                    </div>
                    <div class="modal-body">
                      
                        <!-- Textual inputs start -->

                        <div class="form-group row">
                            <div class="col-sm-7">
                                <label for="example-text-input" class="col-form-label required">Tên loại phòng</label>
                                <input class="form-control" type="text" id="example-text-input" formControlName="name">
                                <div *ngIf="createRtFormGroup.controls['name'].hasError('required') && (createRtFormGroup.controls['name'].dirty || createRtFormGroup.controls['name'].touched)"
                                    class="alert alert-danger">
                                    Tên loại phòng là bắt buộc
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="example-number-input" class="col-form-label required">Diện tích</label>
                                <input class="form-control" type="number" id="example-number-input"
                                    onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                    formControlName="area">
                                <div *ngIf="createRtFormGroup.controls['area'].hasError('required') && (createRtFormGroup.controls['area'].dirty || createRtFormGroup.controls['area'].touched)"
                                    class="alert alert-danger">
                                    Vui lòng nhập đúng định dạng
                                </div>
                                <div *ngIf="createRtFormGroup.controls['area'].hasError('pattern') && (createRtFormGroup.controls['area'].dirty || createRtFormGroup.controls['area'].touched)"
                                    class="alert alert-danger">
                                    Không đúng định dạng
                                </div>

                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-7">
                                <label for="input-price" class="col-form-label required">Giá</label>

                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-price" formControlName="price">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Đồng</span>
                                    </div>
                                </div>
                                <div *ngIf="createRtFormGroup.controls['price'].hasError('required') && (createRtFormGroup.controls['price'].dirty || createRtFormGroup.controls['price'].touched)"
                                    class="alert alert-danger">
                                    Giá là bắt buộc
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <label for="input-capacity" class="col-form-label required">Số người tối đa</label>
                                <input class="form-control" type="number" id="input-capacity"
                                    onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
                                    formControlName="capacity">
                                <div *ngIf="createRtFormGroup.controls['capacity'].hasError('required') && (createRtFormGroup.controls['capacity'].dirty || createRtFormGroup.controls['capacity'].touched)"
                                    class="alert alert-danger">
                                    Số người tối đa là bắt buộc
                                </div>
                                <div *ngIf="createRtFormGroup.controls['capacity'].hasError('pattern') && (createRtFormGroup.controls['capacity'].dirty || createRtFormGroup.controls['capacity'].touched)"
                                    class="alert alert-danger">
                                    Không đúng định dạng
                                </div>

                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-sm-11">
                                <label for="input-description" class="col-form-label">Mô tả</label>
                                <textarea class="form-control" rows="3" formControlName="description"></textarea>
                            </div>
                        </div>
                        <div class="form-group row ml-3 mt-3">
                            <div formArrayName="dataEquipment"
                                *ngFor="let item of createRtFormGroup.controls.dataEquipment['controls']; let i = index"
                                class="custom-control custom-checkbox col-sm-4 mb-3">
                                <input type="checkbox" class="custom-control-input" id="{{dataEquipment[i].id}}"
                                    [formControlName]="i">
                                <label class="custom-control-label" for="{{dataEquipment[i].id}}">
                                    {{dataEquipment[i].name}}</label>
                            </div>


                        </div>

                        <!-- [disabled]="createRtFormGroup.invalid" -->
                    </div>
                    <!-- Textual inputs end -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Trở về</button>
                        <button class="btn btn-info mb-3" type="submit" id="myButton"
                            [disabled]="createRtFormGroup.invalid"> Lưu</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="rtList" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tên loại phòng</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef>Diện tích(m²)</th>
            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>
        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef>Số người tối đa</th>
            <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Giá</th>
            <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Mô tả</th>
            <td mat-cell *matCellDef="let element"> {{element.description | maxLength : 5}} </td>
        </ng-container>
        <ng-container matColumnDef="equipment">
            <th mat-header-cell *matHeaderCellDef>Tiện ích</th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-outline-secondary" ngbPopover="{{element.equipments}}"
                    popoverClass="my-custom-class">
                    Chi tiết
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="customColumn">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <ul class="d-flex justify-content-center">
                    <li class="mr-3"><a class="text-secondary" (click)="editBh(row)"><i class="fa fa-edit"></i></a></li>
                    <li><a class="text-danger" (click)="deleteBh(row)"><i class="ti-trash"></i></a></li>
                </ul>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="modal fade bd-example-modal-lg modal-xl" id="modalEquipment">
        <div class="modal-dialog modal-lg modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tiện ích phòng</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                </div>
                <div class="modal-body">
                    <!-- Table  -->
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col"></th>
                                        <th *ngFor="let eq of dataEquipment" scope="col">{{eq.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rt of rtList">
                                        <th scope="row">{{rt.name}}</th>
                                        <td *ngFor="let eq of dataEquipment; let i = index">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [checked]="rt.checked[i]" disabled
                                                    class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Table  -->
                </div>
                <!-- Textual inputs end -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Trở về</button>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row page-footer">
        <div class="col-sm-5 col-12">Tổng số : {{totalPage}} loại phòng</div>
        <ngb-pagination class='col-12 col-sm-7 pagination' [collectionSize]="totalPage" [(page)]="currentPage" [maxSize]="perPage" [rotate]="true"
            [boundaryLinks]="true" (pageChange)="pageChanged($event)">
        </ngb-pagination>
    </div>