
.mat-datepicker-toggle{
    font-size: 2rem
  }
  table {
    width: 100%;
    margin-top: 20px;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }
  .example-full-width {
    width: 100%;
  }
 
  small{
    color: midnightblue;
  }

.bd-example-modal-lg{
  margin: 0 auto;
}
.can-click{
  cursor: pointer;
}
.collapse, .collapsing{
  width: 100%;
}
.collapse table, .collapsing table{
  width: 70%;
  margin: 0 auto;
}

.form-group.row,.col-form-label{
  padding-bottom: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.page-footer{
  background: #fff;
  padding-top: 1.1rem;
  margin: 0 auto;
}

.form-group.row{
  margin-bottom: 0;
}
table tr.mat-row:hover{
  background: #ececec;
}
@media only screen and (max-width: 600px) {
  .handle{
    padding-left: 0.5rem!important;
  }
  .status-p{
    padding: 0rem 0.5rem!important;
  }
table td{
  font-size: 0.7rem;

  text-align: center
}
table th{
  font-size: 0.75rem;
  text-align: center;
}
.example-full-width {
  width: 50%;
}
#searchBtn{
  margin-top: 5px!important;
}
table ul{
  margin : 0;
}

table ul li:first-child{
  margin-right :5px!important;
  margin-left :5px!important;
}
#sendNoti{
  margin-top: 0!important;
}
.example-full-width{
  margin-left: 2px;
}
table.mat-elevation-z8 button{
  font-size: 0.6rem;
  padding: 4px;
}
table{
  margin-left: -0.5rem;
}
.page-footer{
  width: 100%;
  margin-left: -0.5rem;
}
} 


.hide{
  display: none;
}

#accordionUtility, #accordionElectric, #accordionExtraFee{
  margin-bottom: 1rem;
}
