.utility{
    background: white;
}
@media only screen and (max-width: 600px) {
    table td{
      font-size: 0.6rem;
    }
    table th{
      font-size: 0.8rem;
    }
    .input-price {
        width: 5rem;
    }
  } 
