<div class="" [ngClass]="{'hide': (isLoggedIn$ | async) == false}" >
  <div class="header-area">
    <div class="row align-items-center">
      <!-- nav and search button -->
      <div class="col-md-5 col-sm-1 col-1 clearfix">
        <div class="nav-btn pull-left">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>
      <!-- profile info & task notification -->
      <div class="col-md-7 col-sm-9 col-11 clearfix">
         
        <ul class="notification-area col-12 col-xl-9 pull-right">
            <select [ngClass]="{'hidden-choose': !isHiddenChooseBh()}"  class="custom-select  col-sm-9 col-7" [(ngModel)]="currentBh" (change)="onChangeBh()">
                <option *ngFor="let bh of bhList" [ngValue]="bh">
                  {{bh.name}}
                </option>
              </select>
          <li id="full-view"><i class="ti-fullscreen"></i></li>
          <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
          <li class="dropdown">
            <i class="fa fa-sign-out" routerLink="/logout">
            </i>
            
        </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- header area end -->
  <!-- page title area start -->
  <div class="page-title-area">
    <div class="row align-items-center">
      <div class="col-sm-8">

      </div>
      <div class="col-sm-4 clearfix">
        <div class="form-group">
        
          <!-- <select class="form-control" id="exampleFormControlSelect1">
                        <option>Khu trọ 1</option>
                        <option>Khu trọ 2</option>
                    </select> -->
        </div>
      </div>
    </div>
  </div>
</div>