<div class="" [ngClass]="{'hide': (isLoggedIn$ | async) == false  || isLandingPage() }">
  <div class="header-area">
    <div class="row align-items-center justify-content-between">
      <!-- nav and search button -->
      <div>
        <div class="nav-btn pull-left">
          <!-- <i class="fa fa-arrow-right"></i> -->
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>
      <!-- profile info & task notification -->
      <div class="col-11 clearfix">
        <ul class="notification-area col-12 col-xl-9 pull-right d-flex justify-content-end align-items-center">
          <select [ngClass]="{'hidden-choose': !isHiddenChooseBh()}" class="custom-select  col-7"
            [(ngModel)]="currentBh" (change)="onChangeBh()" [disabled]='isDisabled()'>
            <option *ngFor="let bh of bhList" [ngValue]="bh">
              {{bh.name}}
            </option>
          </select>
         
          <li class="dropdown" routerLink="/notification/to">
            <i class="fa fa-envelope-o"><span *ngIf='totalNoti > 0'>{{totalNoti}}</span></i>
          </li>
          <button type="button" class="btn btn-info custom-logout ml-3" routerLink="/logout"><i class="fa fa-sign-out"></i><span>Đăng xuất</span></button>
          <!-- <a routerLink="/logout" class="btn btn-info btn-lg custom-logout">
            
          </a> -->
          <!-- <li class='custom-logout ml-3'  routerLink="/logout">
              <i class="fa fa-sign-out"></i>
              <p>Đăng xuất</p>
            </li> -->


        </ul>
      </div>



    </div>
  </div>
  <!-- header area end -->
  <!-- page title area start -->
  <div class="page-title-area">
    <div class="row align-items-center">
      <div class="col-sm-8">

      </div>
      <div class="col-sm-4 clearfix">
        <div class="form-group">
          <!-- <select class="form-control" id="exampleFormControlSelect1">
                        <option>Khu trọ 1</option>
                        <option>Khu trọ 2</option>
                    </select> -->
        </div>
      </div>
    </div>
  </div>
</div>