<div class="" [ngClass]="{'hide': (isLoggedIn$ | async) == false}" >
  <div class="header-area">
    <div class="row align-items-center">
      <!-- nav and search button -->
      <div class="col-md-6 col-sm-8 clearfix">
        <div class="nav-btn pull-left">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>
      <!-- profile info & task notification -->
      <div class="col-md-6 col-sm-4 clearfix">
        <ul class="notification-area pull-right">
          <li id="full-view"><i class="ti-fullscreen"></i></li>
          <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
          <li class="dropdown">
            <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
              <span>2</span>
            </i>
            <div class="dropdown-menu bell-notify-box notify-box">
              <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
              <div class="nofity-list">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- header area end -->
  <!-- page title area start -->
  <div class="page-title-area">
    <div class="row align-items-center">
      <div class="col-sm-8">

      </div>
      <div class="col-sm-4 clearfix">
        <div class="form-group">
          <select class="custom-select" [(ngModel)]="currentBh" (change)="onChangeBh()">
            <option *ngFor="let bh of bhList" [ngValue]="bh">
              {{bh.name}}
            </option>
          </select>
          <!-- <select class="form-control" id="exampleFormControlSelect1">
                        <option>Khu trọ 1</option>
                        <option>Khu trọ 2</option>
                    </select> -->
        </div>
      </div>
    </div>
  </div>
</div>