.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  table {
    width: 100%;
  }
  .example-container {
    max-height: 400px;
    overflow: auto;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }  
  .modal-content img{
    max-height: 90vh;
  }
  #imgArnFront,#imgArnBack{
    max-width: 100%;
    max-height: 400px;
  }
.modal-dialog{text-align:center;}
.modal-content{display:inline-block;}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.mat-datepicker-toggle{
  font-size: 2rem
}
th.mat-header-cell{
  text-align: center;
}

 .card img{
  margin: 0 auto;
  max-height: 300px;
  display: block;
}