table {
    width: 100%;
    margin-top: 20px;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }
  .create-bh{
    justify-content:space-between;
    
  }
  .form-group.row{
    margin-bottom: 0;
  }
  
  .text-secondary{
    cursor: pointer;
  }
  .page .pagination{
    justify-content: center;
}
a.page-link.disabled{
    background: #007bff;
    color: white;
}
.page{
   margin: 0 auto;
   
}
.mat-column-select {
  overflow: initial;
}
.example-full-width {
  width: 100%;
}
.mat-form-field-infix{
  border-top: 0!important;
}