
.mat-datepicker-toggle{
    font-size: 2rem
  }
  table {
    width: 100%;
    margin-top: 20px;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }
  .example-full-width {
    width: 100%;
  }
 
  small{
    color: midnightblue;
  }

  .page-footer{
    background: #fff;
    padding-top: 1.1rem;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 600px) {
  .pagination{
    display: flex;
    justify-content: center;
  }
  } 
.bd-example-modal-lg{
  margin: 0 auto;
}
.can-click{
  cursor: pointer;
}


@media only screen and (min-width: 1300px) {
  .col-form-label.ml-3{
    min-width: 90px;
  }
}
