/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


  button:disabled,input:disabled{
    cursor:not-allowed;
  }
  label.required:after  {
    content:"*";
    color:red;
  }
  .header-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .cdk-overlay-container {z-index: 999999 !important;}
  a.text-secondary{
    cursor: pointer;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .alert.alert-danger{
    padding : 0;
    padding-top: 2px;
    border : none;
    background-color: #fff;
    color : red;
  }

  input:disabled.input-date{
    cursor: pointer;
    color: #757575;
  }