<!-- <div id="preloader">
    <div class="loader"></div>
</div> -->
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
  <!-- sidebar menu area start -->
  <div class="sidebar-menu">
      <div class="sidebar-header">
          <div class="logo">
              <a routerLink="/landlord/dashboard" ><img src="assets/images/logo/logo_transparent_white.png" alt="logo"></a>
          </div>
      </div>
      <div class="main-menu">
          <div class="menu-inner">
              <nav>
                  <ul class="metismenu" id="menu">
                      <li>
                          <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>Quản lý chung</span></a>
                      </li>
                      <li routerLink="/landlord/bh-info" routerLinkActive="active">
                          <a href="javascript:void(0)"  aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span>Thông tin nhà trọ
                              </span></a>
                         
                      </li>
                      <li routerLink="/landlord/room-type" routerLinkActive="active">
                          <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Quản lý loại phòng</span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Quản lý phòng</span></a>
                          <ul class="collapse">
                              <li><a href="accordion.html">Thông tin phòng</a></li>
                              <li><a href="alert.html">Hoạt động phòng</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="javascript:void(0)" aria-expanded="true"><i class="ti-slice"></i><span>Quản lý hợp đồng</span></a>
                          <ul class="collapse">
                              <li><a href="fontawesome.html">fontawesome icons</a></li>
                              <li><a href="themify.html">themify icons</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                              <span>Tiện ích</span></a>
                          <ul class="collapse">
                              <li><a href="table-basic.html">basic table</a></li>
                              <li><a href="table-layout.html">table layout</a></li>
                              <li><a href="datatable.html">datatable</a></li>
                          </ul>
                      </li>
                      <li><a href="maps.html"><i class="ti-map-alt"></i> <span>Chỉ số điện</span></a></li>
                      <li><a href="invoice.html"><i class="ti-receipt"></i> <span>Quản lý thông báo</span></a></li>
                      <li>
                          <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layers-alt"></i> <span>Quản lý tài chính</span></a>
                          <ul class="collapse">
                              <li><a href="login.html">Login</a></li>
                              <li><a href="login2.html">Login 2</a></li>
                              <li><a href="login3.html">Login 3</a></li>
                              <li><a href="register.html">Register</a></li>
                              <li><a href="register2.html">Register 2</a></li>
                              <li><a href="register3.html">Register 3</a></li>
                              <li><a href="register4.html">Register 4</a></li>
                              <li><a href="screenlock.html">Lock Screen</a></li>
                              <li><a href="screenlock2.html">Lock Screen 2</a></li>
                              <li><a href="reset-pass.html">reset password</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                          </ul>
                      </li>
                      <li routerLink="/landlord/profile" [routerLinkActive]="['active']">
                          <a href="javascript:void(0)" aria-expanded="true" ><i class="fa fa-user"></i>
                              <span>Thông tin cá nhân</span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i> <span>Multi
                                  level menu</span></a>
                          <ul class="collapse">
                              <li><a href="#">Item level (1)</a></li>
                              <li><a href="#">Item level (1)</a></li>
                              <li><a href="#" aria-expanded="true">Item level (1)</a>
                                  <ul class="collapse">
                                      <li><a href="#">Item level (2)</a></li>
                                      <li><a href="#">Item level (2)</a></li>
                                      <li><a href="#">Item level (2)</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Item level (1)</a></li>
                          </ul>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
  <!-- sidebar menu area end -->
  <!-- main content area start -->
  <div class="main-content">
      <!-- header area start -->
      <div class="header-area">
          <div class="row align-items-center">
              <!-- nav and search button -->
              <div class="col-md-6 col-sm-8 clearfix">
                  <div class="nav-btn pull-left">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
                  
              </div>
              <!-- profile info & task notification -->
              <div class="col-md-6 col-sm-4 clearfix">
                  <ul class="notification-area pull-right">
                      <li id="full-view"><i class="ti-fullscreen"></i></li>
                      <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                      <li class="dropdown">
                          <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                              <span>2</span>
                          </i>
                          <div class="dropdown-menu bell-notify-box notify-box">
                              <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                              <div class="nofity-list">
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                      <div class="notify-text">
                                          <p>You have Changed Your Password</p>
                                          <span>Just Now</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                      <div class="notify-text">
                                          <p>New Commetns On Post</p>
                                          <span>30 Seconds ago</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                      <div class="notify-text">
                                          <p>Some special like you</p>
                                          <span>Just Now</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                      <div class="notify-text">
                                          <p>New Commetns On Post</p>
                                          <span>30 Seconds ago</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                      <div class="notify-text">
                                          <p>Some special like you</p>
                                          <span>Just Now</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                      <div class="notify-text">
                                          <p>You have Changed Your Password</p>
                                          <span>Just Now</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                      <div class="notify-text">
                                          <p>You have Changed Your Password</p>
                                          <span>Just Now</span>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </li>
                      <li class="dropdown">
                          <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                          <div class="dropdown-menu notify-box nt-enveloper-box">
                              <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                              <div class="nofity-list">
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb">
                                          <img src="assets/images/author/author-img1.jpg" alt="image">
                                      </div>
                                      <div class="notify-text">
                                          <p>Aglae Mayer</p>
                                          <span class="msg">Hey I am waiting for you...</span>
                                          <span>3:15 PM</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb">
                                          <img src="assets/images/author/author-img2.jpg" alt="image">
                                      </div>
                                      <div class="notify-text">
                                          <p>Aglae Mayer</p>
                                          <span class="msg">When you can connect with me...</span>
                                          <span>3:15 PM</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb">
                                          <img src="assets/images/author/author-img3.jpg" alt="image">
                                      </div>
                                      <div class="notify-text">
                                          <p>Aglae Mayer</p>
                                          <span class="msg">I missed you so much...</span>
                                          <span>3:15 PM</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb">
                                          <img src="assets/images/author/author-img4.jpg" alt="image">
                                      </div>
                                      <div class="notify-text">
                                          <p>Aglae Mayer</p>
                                          <span class="msg">Your product is completely Ready...</span>
                                          <span>3:15 PM</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb">
                                          <img src="assets/images/author/author-img2.jpg" alt="image">
                                      </div>
                                      <div class="notify-text">
                                          <p>Aglae Mayer</p>
                                          <span class="msg">Hey I am waiting for you...</span>
                                          <span>3:15 PM</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb">
                                          <img src="assets/images/author/author-img1.jpg" alt="image">
                                      </div>
                                      <div class="notify-text">
                                          <p>Aglae Mayer</p>
                                          <span class="msg">Hey I am waiting for you...</span>
                                          <span>3:15 PM</span>
                                      </div>
                                  </a>
                                  <a href="#" class="notify-item">
                                      <div class="notify-thumb">
                                          <img src="assets/images/author/author-img3.jpg" alt="image">
                                      </div>
                                      <div class="notify-text">
                                          <p>Aglae Mayer</p>
                                          <span class="msg">Hey I am waiting for you...</span>
                                          <span>3:15 PM</span>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </li>
                     
                  </ul>
              </div>
          </div>
      </div>
      <!-- header area end -->
      <!-- page title area start -->
      <div class="page-title-area">
          <div class="row align-items-center">
              <div class="col-sm-8">
                
              </div>
              <div class="col-sm-4 clearfix">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Khu trọ 1</option>
                      <option>Khu trọ 2</option>
                    </select>
                  </div>
              </div>
          </div>
      </div>
      <!-- page title area end -->
      <div class="main-content-inner">
        <router-outlet></router-outlet>
      </div>
 
  <!-- main content area end -->
  <!-- footer area start-->
  <footer>
      <div class="footer-area">
          <p>Template được sử dụng của <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
          <p>Bản quyền phần mềm <a href="https://facebook.com/bakhiem1997">EBHouse</a>.</p>
      </div>
  </footer>
  <!-- footer area end-->
</div>
<!-- page container area end -->



