<div class="sidebar-menu" [ngClass]="{'hide': role == '' || role == 'tenant' || isLandingPage()}">
    <div class="sidebar-header">
        <div class="logo">
            <a routerLink="/landlord/dashboard"><img src="assets/images/logo/logo_transparent_white.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" *ngIf='role == "landlord"' id="menu" #myMenu>
                    <li routerLink="/landlord/dashboard" routerLinkActive="active" class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="ti-dashboard"></i><span>Quản lý
                                chung</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-building-o"></i><span>Nhà trọ & Dịch vụ</span></a>
                        <ul class="collapse">
                            <li routerLink="/landlord/bh-info" routerLinkActive="active" class='custom-expand-menu'>
                                <a href="javascript:void(0)">Nhà trọ</a>
                            </li>
                            <li routerLink="/landlord/utility" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Dịch vụ</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-home"></i><span>Phòng & loại phòng</span></a>
                        <ul class="collapse">
                            <li routerLink="/landlord/room-type" routerLinkActive="active" class='custom-expand-menu'>
                                <a href="javascript:void(0)">Loại phòng</a>
                            </li>
                            <li routerLink="/landlord/room" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Thông tin phòng</a></li>
                            <li routerLink="/landlord/room-activity" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Hoạt động phòng</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-slice"></i><span>Quản lý hợp
                                đồng</span></a>
                        <ul class="collapse">
                            <li routerLink="/landlord/contract" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Xem hợp đồng</a></li>
                            <li routerLink="/landlord/contract-create" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Tạo hợp đồng</a></li>
                        </ul>
                    </li>
                    <li routerLink="/landlord/tenant" routerLinkActive='active' class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="fa fa-user"></i>
                            <span>Quản lý khách thuê</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pencil-alt"></i><span> Nhập chỉ
                                số</span></a>
                        <ul class="collapse">
                            <li routerLink="/landlord/electric" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Chỉ số điện </a></li>
                            <li routerLink="/landlord/water" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Chỉ số nước</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pencil-alt"></i><span> Nhập chi phí</span></a>
                        <ul class="collapse">
                            <li routerLink="/landlord/extrafee" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Chi phí của phòng</a></li>
                            <li routerLink="/landlord/boardinghouse-extrafee" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Chi phí nhà trọ</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-money"></i><span>Quản lý
                                tài chính</span></a>
                        <ul class="collapse">
                            <li routerLink="/landlord/financial" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Phòng có hợp đồng</a></li>
                            <li routerLink="/landlord/other-financial" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Khoản thu chi khác</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-email"></i><span>Quản lý thông
                                báo</span></a>
                        <ul class="collapse">
                            <li routerLink="/notification/from" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Thông báo đã gửi</a></li>
                            <li routerLink="/notification/to" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Thông báo đã nhận</a></li>
                        </ul>
                    </li>
                    <li routerLink="/landlord/profile" routerLinkActive='active' class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="fa fa-user"></i>
                            <span>Thông tin cá nhân</span></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="sidebar-menu" [ngClass]="{'hide': role == '' || role == 'landlord' || isLandingPage()}">
    <div class="sidebar-header">
        <div class="logo">
            <a routerLink="/landlord/dashboard"><img src="assets/images/logo/logo_transparent_white.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" *ngIf='role == "tenant"' id="menu" #myMenu>
                    <!-- <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>Quản lý
                                chung</span></a>
                    </li> -->
                    <li routerLink="/tenant/bh-info" routerLinkActive="active" class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="fa fa-building-o"></i><span>Thông
                                tin nhà trọ
                            </span></a>
                    </li>

                    <li routerLink="/tenant/rooms-info" routerLinkActive="active" class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="fa fa-building-o"></i><span>Thông
                                tin các phòng
                            </span></a>
                    </li>
                    <li routerLink="/tenant/contract" routerLinkActive="active" class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="ti-slice"></i><span> Thông tin hợp đồng
                            </span></a>
                    </li>

                    <li routerLink="/tenant/financial" routerLinkActive="active" class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="ti-money"></i> <span>Thông tin tài
                                chính</span></a>

                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="ti-email"></i> <span>Quản lý thông báo</span></a>
                        <ul class="collapse">
                            <li routerLink="/notification/from" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Thông báo đã gửi</a></li>
                            <li routerLink="/notification/to" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Thông báo đã nhận</a></li>
                        </ul>
                    </li>
                    <li routerLink="/tenant/profile" routerLinkActive='active' class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="fa fa-user"></i>
                            <span>Thông tin cá nhân</span></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="sidebar-menu" [ngClass]="{'hide':  role == '' || role == 'tenant' || role == 'landlord' || isLandingPage()}">
    <div class="sidebar-header">
        <div class="logo">
            <a routerLink="/admin/dashboard"><img src="assets/images/logo/logo_transparent_white.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" *ngIf='role == "admin"' id="menu" #myMenu>
                    <li routerLink="/admin/dashboard" routerLinkActive="active" class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="fa fa-building-o"></i><span>Dashboard
                          </span></a>
                    </li>
                    <li routerLink="/admin/equipment" routerLinkActive="active" class='custom-expand-menu'>
                        <a href="javascript:void(0)"><i class="fa fa-building-o"></i><span>Thông
                              tin các phòng
                          </span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-email"></i><span>Quản lý thông
                            báo</span></a>
                        <ul class="collapse">
                            <li routerLink="/notification/from" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Thông báo đã gửi</a></li>
                            <li routerLink="/notification/to" routerLinkActive="active" class='custom-expand-menu'><a href="javascript:void(0)">Thông báo đã nhận</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>