.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  table {
    width: 100%;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }  
  .modal-content img{
    max-height: 90vh;
  }
  #imgArnFront,#imgArnBack{
    max-width: 100%;
    max-height: 400px;
  }
.modal-dialog{text-align:center;}
.modal-content{display:inline-block;}