.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  table {
    width: 100%;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }  
  .modal-content img{
    max-height: 90vh;
  }

#modal4 .modal-dialog{text-align:left;}

.modal-content{display:inline-block;}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
.mat-datepicker-toggle{
  font-size: 2rem
}
.card img{
  margin: 0 auto;
  max-height: 300px;
  display: block;
}

#modal2 img{
  margin: 0 auto;
  max-width: 550px;
  max-height: 450px;
  display: block;
 }

#modal2 input:disabled{
  background: #fff;
}

