<div class="login-area">
  <div class="container">
    <div class="login-box ptb--100">
      <form [formGroup]="verifyFormGroup">

        <div *ngIf='fromRegis == true' class="login-form-head">
          <h4>Xác thực số điện thoại</h4>
          <p>Nhấn gửi mã OTP về điện thoại và nhập mã OTP được gửi qua tin nhắn</p>
        </div>

        <div *ngIf='fromRegis == false' class="login-form-head">
            <h4>Quên mật khẩu</h4>
            <p>Mời nhập số điện thoại và nhấn gửi mã OTP để xác thực</p>
          </div>

      

        <div class="login-form-body">
          <div class="form-gp focused">
            <label for="exampleInputEmail1">Số điện thoại</label>
            <input type="text" id="exampleInputEmail1" formControlName="phone">
            <i class="ti-agenda"></i>
          </div>
          <!-- <div *ngIf="verifyFormGroup.controls['phone'].hasError('required') && (verifyFormGroup.controls['phone'].dirty || verifyFormGroup.controls['phone'].touched)"
          class="alert alert-danger">
          Số điện thoại là bắt buộc
      </div>
      <div *ngIf="verifyFormGroup.controls['phone'].hasError('pattern') && (verifyFormGroup.controls['phone'].dirty || verifyFormGroup.controls['phone'].touched)"
          class="alert alert-danger">
          Số điện thoại không đúng định dạng
      </div> -->
          <div id="recaptcha-container" data-callback="imNotARobot"></div>
          <div *ngIf="windowRef.recaptchaVerifier ">
            <button class="btn btn-outline-secondary mb-3 mt-3" (click)="sendLoginCode()">Gửi mã OTP về điện
              thoại</button>
          </div>
          <div class='otpInput' >
            <div class="form-gp focused">
              <label for="exampleInputEmail1">Nhập mã OTP</label>
              <input type="text" class="form-control mt-3" formControlName="otpcode">
            </div>
            <button class="btn btn-rounded btn-light mb-3" (click)="verifyLoginCode()">Xác nhận</button>
          </div>
        </div>
        <div class="form-footer text-center mt-5">
          <p class="text-muted">Đã có tài khoản <a routerLink="/login">Đăng nhập</a></p>
      </div>
      </form>
      

    </div>
  </div>
</div>