<div class="profile-area">
    <div class="customLoading">
        <div class="customLoader"></div>
    </div>
    <form [formGroup]="profileFormGroup">
        <div class="row">
            <!-- Textual inputs start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Thông tin cá nhân</h4>
                        <p class="text-muted font-14 mb-4">Bạn vui lòng điền đầy đủ thông tin cá nhân</p>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="example-text-input" class="col-form-label">Họ tên</label>
                                <input class="form-control" type="text" id="example-text-input" formControlName="name" maxlength="255">
                                <div *ngIf="profileFormGroup.controls['name'].hasError('required') && (profileFormGroup.controls['name'].dirty || profileFormGroup.controls['name'].touched)" class="alert alert-danger">
                                    Vui lòng nhập họ tên
                                </div>
                                   
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="example-tel-input" class="col-form-label">Số điện thoại</label>
                                <input class="form-control" type="tel" id="example-tel-input" formControlName="phone">
                                <div *ngIf="profileFormGroup.controls['phone'].hasError('required') && (profileFormGroup.controls['phone'].dirty || profileFormGroup.controls['phone'].touched)" class="alert alert-danger">
                                    Vui lòng nhập số điện thoại
                                </div>
                                <div *ngIf="profileFormGroup.controls['phone'].hasError('required') && (profileFormGroup.controls['phone'].dirty || profileFormGroup.controls['phone'].touched)" class="alert alert-danger">
                                    Số điện thoại bao gồm 10 số
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="example-date-input" class="col-form-label required input-group">Ngày sinh</label>
                                    <mat-form-field (click)="dp.open()">
                                            <input matInput [matDatepicker]="dp" [max]='maxDate' placeholder="Chọn ngày sinh"
                                                formControlName="date" class='input-date'>
                                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                            <mat-datepicker #dp disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    <div *ngIf="profileFormGroup.controls['date'].hasError('required') && (profileFormGroup.controls['date'].dirty || profileFormGroup.controls['date'].touched)" class="alert alert-danger">
                                        Vui lòng nhập ngày sinh
                                    </div>
                                </div>
    
                            </div>
                        <!-- begin radio -->

                        <b class="text-muted mb-3 mt-4 d-block">Giới tính :</b>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio1" class="custom-control-input" value="1" formControlName="sex">
                            <label class="custom-control-label" for="customRadio1">Nam</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio2" class="custom-control-input" value="2" formControlName="sex">
                            <label class="custom-control-label" for="customRadio2">Nữ</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio3" class="custom-control-input" value="0" formControlName="sex">
                            <label class="custom-control-label" for="customRadio3">Khác</label>
                        </div>
                        <!-- end radio -->
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Tỉnh / Thành phố </label>
                                <select class="custom-select" formControlName="province" required (change)="onChangeProvince()">
                                  <option *ngFor="let aprovince of dataProvince" [selected]="aprovince.code  == 01"
                                    [ngValue]="aprovince">
                                    {{aprovince.name}}
                                  </option>
                                </select>
                                <div *ngIf="profileFormGroup.controls['province'].hasError('required') && (profileFormGroup.controls['province'].dirty || profileFormGroup.controls['province'].touched)" class="alert alert-danger">
                                    Vui lòng nhập Tỉnh / Thành phố
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">Quận / Huyện</label>
                                <select class="custom-select" formControlName="distric" (change)="onChangeDistric()">
                                  <option *ngFor="let adistric of dataDistric" [ngValue]="adistric">
                                    {{adistric.name}}
                                  </option>
                                </select>
                                <div *ngIf="profileFormGroup.controls['distric'].hasError('required') && (profileFormGroup.controls['distric'].dirty || profileFormGroup.controls['distric'].touched)" class="alert alert-danger">
                                    Vui lòng nhập Quận / Huyện
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">Xã / Phường</label>
                                <select class="custom-select" formControlName="wards">
                                  <option *ngFor="let awards of dataWards" [ngValue]="awards">
                                    {{awards.name}}
                                  </option>
                                </select>
                                <div *ngIf="profileFormGroup.controls['wards'].hasError('required') && (profileFormGroup.controls['wards'].dirty || profileFormGroup.controls['wards'].touched)" class="alert alert-danger">
                                    Vui lòng nhập Xã / Phường 
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="example-tel-input" class="col-form-label">Thôn xóm/ Số nhà</label>
                                <input class="form-control" type="text" id="example-tel-input" formControlName="address">
                                <div *ngIf="profileFormGroup.controls['address'].hasError('required') && (profileFormGroup.controls['address'].dirty || profileFormGroup.controls['address'].touched)" class="alert alert-danger">
                                    Vui lòng nhập Thôn xóm/ số nhà
                                </div>
                            </div>
                        </div>
                        <!-- begin upload and preview image -->
                        <div class="row ml-1">
                            <div class="custom-file col-sm-5 mr-3 image-container">
                                <input type="file" imageUpload  accept="image/*" class="custom-file-input" id="customFile"  (imageSelected)="uploadFrontID($event)" formControlName="imgArnFront" [imageToDataUrl]="options">
                                <label class="custom-file-label" for="customFile">Ảnh chứng minh thư mặt trước</label>
                                <img [src]="imgArnFront" class="previewImg" alt="" data-toggle="modal" data-target="#modal1">
                            </div>
                            <div class="custom-file col-sm-5 mr-3 image-container">
                                <input type="file" imageUpload accept="image/*" class="custom-file-input" id="customFile2" (imageSelected)="uploadBackID($event)" formControlName="imgArnBack" [imageToDataUrl]="options">
                                <label class="custom-file-label" for="customFile2">Ảnh chứng minh thư mặt sau</label>
                                <img [src]="imgArnBack" class="previewImg" alt="" data-toggle="modal" data-target="#modal2">
                            </div>
                            <!-- <div class="custom-file col-sm-5 image-container">
                                <input type="file" imageUpload class="custom-file-input" id="customFile" (imageSelected)="uploadBackID($event)" formControlName="backID" [resizeOptions]="resizeOptions">

                                <label class="custom-file-label text-left" for="customFile">Ảnh chứng minh thư mặt sau</label>
                                <img [src]="imageBackSrc" [hidden]="!imageBackSrc" class="previewImg" alt="" data-toggle="modal" data-target="#modal2">
                            </div> -->

                        </div>
                        <!-- end upload and preview image -->
                      
                        <div class="mt-3 float-right col-sm-5 text-center">
                            <button class="btn btn-primary mb-3 mr-3" (click)='changePassword()'>Đổi mật khẩu</button>
                            <input class="btn btn-info mb-3" type="submit" value="Lưu" (click)='onSubmit()' [disabled]="profileFormGroup.invalid">
                        </div>

                        <!-- [disabled]="profileFormGroup.invalid" -->
                    </div>
                </div>
            </div>
            <!-- Textual inputs end -->
        </div>
    </form>
</div>
<!-- login area end -->

<!-- modal -->
<div class="modal fade bd-example-modal-lg show" id="modal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img [src]="imgArnFront" [hidden]="!imgArnFront" class="modalImg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- modal back ID image -->
<div class="modal fade bd-example-modal-lg show" id="modal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img [src]="imgArnBack" [hidden]="!imgArnBack" class="modalImg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id='modal3'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5>Đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="old-pass" class="col-form-label required">Mật khẩu cũ</label>
                            <input class="form-control" type="password" id="old-pass" >
                        </div>
                       
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="new-pass" class="col-form-label required">Mật khẩu mới</label>
                            <input class="form-control" type="password" id="new-pass" >
                        </div>
                       
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="re-new-pass" class="col-form-label required">Nhập lại mật khẩu mới</label>
                            <input class="form-control" type="password" id="re-new-pass" >
                        </div>
                       
                    </div>


  
               
                </div>
                <!-- Textual inputs end -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Trở về</button>
                    <button class="btn btn-info mb-3" (click)='changePasswordSubmit()'>Đổi mật khẩu</button>
                </div>

            </form>
        </div>
    </div>
</div>