<div class="row">
  <div class="col-12 mt-3 guideline">
    <div class="card">
      <div class="card-body">
        <h2 class="header-title">Hướng dẫn sử dụng dành cho chủ trọ</h2>
      
        <div class="three-step mb-3">
            <h4 class="header-title">3 bước cơ bản sử dụng phần mềm : </h4>
            <div class="">1. Thiết lập thông tin ban đầu của nhà trọ</div>
            <div class="">2. Quản lý thông tin hợp đồng & khách thuê</div>
            <div class="">3. Công việc hàng tháng : nhập số điện, chi phí phát sinh</div>
        </div>
        <div class="row step-one">
            <h4 class="header-title">Bước 1 : Thiết lập thông tin nhà trọ</h4>
            Để có thể
        </div>
        <ul class="row">
          <li class='col-4 has-line'>
            <div class="title child-1">
              <span class="step-icon">1</span>
              <span class="step-number"><i class="fa fa-building-o"></i>Nhà Trọ</span>
              <span class="step-text">Khai báo địa chỉ nhà trọ, cấu hình ban đầu</span>
            </div>
          </li>
          <li class='col-4 has-line'>
            <div class="title child-2">
              <span class="step-icon ">2</span>
              <span class="step-number"><i class="fa fa-cloud"></i>Dịch Vụ</span>
              <span class="step-text">Quản lý dịch vụ : giá và cách tính</span>
            </div>
          </li>
          <li class='col-4'>
            <div class="title child-3">
              <span class="step-icon ">3</span>
              <span class="step-number"><i class="ti-home"></i>Loại phòng & Phòng</span>
              <span class="step-text">Tạo loại phòng, tạo phòng, giá phòng</span>
            </div>
          </li>
        </ul>
      </div>
      <!-- <h4 class="header-title">Hướng dẫn sử dụng dành cho chủ trọ</h4>
          <ul>Nhà trọ
            <li>Tạo nhà trọ & Dịch Vụ</li>
            <li>Tạo loại phòng</li>
            <li>Tạo phòng</li>
          </ul> -->
    </div>
  </div>
</div>