table {
    width: 100%;
    margin-top: 20px;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }
  .create-bh{
    justify-content:space-between;
  }
  .form-group.row{
    margin-bottom: 0;
  }
  

.mat-column-select {
  overflow: initial;
}
.example-full-width {
  width: 100%;
}
.mat-form-field-infix{
  border-top: 0!important;
}
.page-footer{
  background: #fff;
  padding-top: 1.1rem;
}

@media only screen and (max-width: 576px) {
  .pagination{
    display: flex;
    justify-content: center;
  }
  table.mat-elevation-z8 td{
    font-size: 0.6rem;
  }
  table.mat-elevation-z8 th{
    font-size: 0.8rem;
  }
  table.mat-elevation-z8 ul{
  margin-bottom: 0;
  margin-left: 0.4rem;
  }
  .custom-select{
    margin-left: 0.5rem;
  }
} 
table.mat-elevation-z8 td{
    cursor: pointer;
}