<div class="customLoading">
    <div class="customLoader"></div>
</div>
<div class="row">
    <div class="create-bh mt-3">
        <button type="button" class="btn btn-primary" (click)="createBh()">
            Tạo nhà trọ
        </button>
    </div>
    <div *ngIf="message && message.type == 1; else errMess" class="alert alert-success" role="alert">
        {{message.content}}
    </div>
    <ng-template #errMess>
        <div *ngIf="message && message.content != ''" class="alert alert-danger" role="alert">
            {{message.content}}
        </div>
    </ng-template>
    <div class="modal fade bd-example-modal-lg show">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <form [formGroup]="createbhFormGroup" (ngSubmit)="onSubmit()">
                    <div class="modal-header">
                        <h5 *ngIf="isEdit == 0; else edit"  class="modal-title">Tạo nhà trọ</h5>
                        <ng-template #edit>
                            <h5 *ngIf="isEdit == 1" class="modal-title">Sửa thông tin nhà trọ</h5>
                        </ng-template>
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                    </div>
                    <div class="modal-body">

                        <!-- alert -->

                        <div *ngIf="message && message.type == 1; else errMess" class="alert alert-success" role="alert">
                            {{message.content}}
                        </div>
                        <ng-template #errMess>
                            <div *ngIf="message && message.content != ''" class="alert alert-danger" role="alert">
                                {{message.content}}
                            </div>
                        </ng-template>
                        <!-- Textual inputs start -->

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="example-text-input" class="col-form-label required">Tên nhà trọ</label>
                                <input class="form-control" type="text" id="example-text-input" formControlName="name">
                                <div *ngIf="createbhFormGroup.controls['name'].hasError('required') && (createbhFormGroup.controls['name'].dirty || createbhFormGroup.controls['name'].touched)"
                                    class="alert alert-danger">
                                    Tên nhà trọ là bắt buộc
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="example-number-input" class="col-form-label required">Số lượng phòng</label>
                                <input class="form-control" type="number" id="example-number-input"
                                    formControlName="numberOfRoom">
                                <div *ngIf="createbhFormGroup.controls['numberOfRoom'].hasError('required') && (createbhFormGroup.controls['numberOfRoom'].dirty || createbhFormGroup.controls['numberOfRoom'].touched)"
                                    class="alert alert-danger">
                                    Số lượng phòng là bắt buộc
                                </div>
                                <div *ngIf="createbhFormGroup.controls['numberOfRoom'].hasError('pattern') && (createbhFormGroup.controls['numberOfRoom'].dirty || createbhFormGroup.controls['numberOfRoom'].touched)"
                                    class="alert alert-danger">
                                    Không đúng định dạng
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Tỉnh / Thành phố </label>
                                <select class="custom-select" formControlName="province" 
                                    (change)="onChangeProvince()">
                                    <option *ngFor="let aprovince of dataProvince" 
                                        [ngValue]="aprovince">
                                        {{aprovince.name}}
                                    </option>
                                </select>
                                <div *ngIf="createbhFormGroup.controls['province'].hasError('required') && (createbhFormGroup.controls['province'].dirty || createbhFormGroup.controls['province'].touched)"
                                    class="alert alert-danger">
                                    Tỉnh / Thành phố là bắt buộc
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">Quận / Huyện</label>
                                <select class="custom-select" formControlName="distric" (change)="onChangeDistric()">
                                    <option *ngFor="let adistric of dataDistric" [ngValue]="adistric">
                                        {{adistric.name}}
                                    </option>
                                </select>
                                <div *ngIf="createbhFormGroup.controls['distric'].hasError('required') && (createbhFormGroup.controls['distric'].dirty || createbhFormGroup.controls['distric'].touched)"
                                    class="alert alert-danger">
                                    Quận / Huyện là bắt buộc
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label required">Xã / Phường</label>
                                <select class="custom-select" formControlName="wards">
                                    <option *ngFor="let awards of dataWards" [ngValue]="awards">
                                        {{awards.name}}
                                    </option>
                                </select>
                                <div *ngIf="createbhFormGroup.controls['wards'].hasError('required') && (createbhFormGroup.controls['wards'].dirty || createbhFormGroup.controls['wards'].touched)"
                                    class="alert alert-danger">
                                    Xã / Phường là bắt buộc
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="example-tel-input" class="col-form-label required">Thôn xóm/ Số nhà</label>
                                <input class="form-control" type="text" id="example-tel-input" formControlName="address">
                                <div *ngIf="createbhFormGroup.controls['address'].hasError('required') && (createbhFormGroup.controls['address'].dirty || createbhFormGroup.controls['address'].touched)"
                                    class="alert alert-danger">
                                    Thôn xóm/ số nhà không được để trống
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="example-tel-input" class="col-form-label">Mô tả</label>
                                <textarea class="form-control" rows="3" formControlName="description"></textarea>
                            </div>
                        </div>
                        <!-- [disabled]="createbhFormGroup.invalid" -->
                    </div>
                    <!-- Textual inputs end -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Trở về</button>
                        <button class="btn btn-info mb-3" type="submit" id="myButton" [disabled]="createbhFormGroup.invalid"> Lưu</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="bhList" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tên nhà trọ</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="numberOfRoom">
            <th mat-header-cell *matHeaderCellDef>Số lượng phòng</th>
            <td mat-cell *matCellDef="let element"> {{element.numberOfRoom}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Mô tả</th>
            <td mat-cell *matCellDef="let element"> {{element.description | maxLength : 5}} </td>
        </ng-container>
        <ng-container matColumnDef="customColumn">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <ul class="d-flex justify-content-center">
                    <li class="mr-3"><a class="text-secondary" (click)="editBh(row)"><i class="fa fa-edit"></i></a></li>
                    <li><a class="text-danger" (click)="deleteBh(row)"><i class="ti-trash"></i></a></li>
                </ul>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <nav class="page mt-3">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" (click)="prePage()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li class="page-item" *ngFor="let pageNumber of pageNumbers ">
                <a *ngIf="pageNumber == currentPage,else inActive" class="page-link disabled ">{{pageNumber}}</a>
                <ng-template #inActive><a class="page-link" (click)="goToPage(pageNumber)">{{pageNumber}}</a>
                </ng-template>
            </li>

            <li class="page-item">
                <a class="page-link" (click)="nextPage()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>