table {
    width: 100%;
    margin-top: 20px;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }
  .create-bh{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
  }
  .form-group.row{
    margin-bottom: 0;
  }

  .text-secondary{
    cursor: pointer;
  }
a.page-link.disabled{
    background: #007bff;
    color: white;
}
#dataTable3_info{
  font-size: 1.1rem;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  table td{
    font-size: 0.6rem;
  }
  table th{
    font-size: 0.8rem;
  }
} 