<div class="row">
    <div class="create-bh mt-3">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
            Tạo nhà trọ
        </button>
    </div>

    <div class="modal fade bd-example-modal-lg show">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form [formGroup]="createbhFormGroup" (ngSubmit)="onSubmit()">
                    <div class="modal-header">
                        <h5 class="modal-title">Tạo nhà trọ</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                    </div>
                    <div class="modal-body">
                        <!-- Textual inputs start -->
                        
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">Tên nhà trọ</label>
                                        <input class="form-control" type="text" id="example-text-input"
                                            formControlName="name">
                                        <div *ngIf="createbhFormGroup.controls['name'].hasError('required') && (createbhFormGroup.controls['name'].dirty || createbhFormGroup.controls['name'].touched)"
                                            class="alert alert-danger">
                                            Tên nhà trọ là bắt buộc
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                            <label for="example-tel-input" class="col-form-label">Số lượng phòng</label>
                                            <input class="form-control" type="tel" id="example-tel-input"
                                                formControlName="numberOfRoom">
                                            <div *ngIf="createbhFormGroup.controls['numberOfRoom'].hasError('required') && (createbhFormGroup.controls['numberOfRoom'].dirty || createbhFormGroup.controls['numberOfRoom'].touched)"
                                                class="alert alert-danger">
                                                Số lượng phòng là bắt buộc
                                            </div>
                                        </div>
                                </div>
                               

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label">Tỉnh / Thành phố </label>
                                        <select class="custom-select" formControlName="province" required
                                            (change)="onChangeProvince()">
                                            <option *ngFor="let aprovince of dataProvince"
                                                [selected]="aprovince.code  == 01" [ngValue]="aprovince">
                                                {{aprovince.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="createbhFormGroup.controls['province'].hasError('required') && (createbhFormGroup.controls['province'].dirty || createbhFormGroup.controls['province'].touched)"
                                            class="alert alert-danger">
                                            Tỉnh / Thành phố là bắt buộc
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col-form-label">Quận / Huyện</label>
                                        <select class="custom-select" formControlName="distric"
                                            (change)="onChangeDistric()">
                                            <option *ngFor="let adistric of dataDistric" [ngValue]="adistric">
                                                {{adistric.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="createbhFormGroup.controls['distric'].hasError('required') && (createbhFormGroup.controls['distric'].dirty || createbhFormGroup.controls['distric'].touched)"
                                            class="alert alert-danger">
                                            Quận / Huyện là bắt buộc
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col-form-label">Xã / Phường</label>
                                        <select class="custom-select" formControlName="wards">
                                            <option *ngFor="let awards of dataWards" [ngValue]="awards">
                                                {{awards.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="createbhFormGroup.controls['wards'].hasError('required') && (createbhFormGroup.controls['wards'].dirty || createbhFormGroup.controls['wards'].touched)"
                                            class="alert alert-danger">
                                            Xã / Phường là bắt buộc
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="example-tel-input" class="col-form-label">Thôn xóm/ Số nhà</label>
                                        <input class="form-control" type="tel" id="example-tel-input"
                                            formControlName="address">
                                        <div *ngIf="createbhFormGroup.controls['address'].hasError('required') && (createbhFormGroup.controls['address'].dirty || createbhFormGroup.controls['address'].touched)"
                                            class="alert alert-danger">
                                            Thôn xóm/ số nhà không được để trống
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="example-tel-input" class="col-form-label">Mô tả</label>
                                        <textarea class="form-control" rows="3" formControlName="description"></textarea>
                                    </div>

                                </div>
                               
                                   
                              

                                <!-- [disabled]="createbhFormGroup.invalid" -->
                            
                    </div>
                    <!-- Textual inputs end -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Trở về</button>
                        <input class="btn btn-info mb-3" type="submit" value="Lưu">
                    </div>

                </form>
            </div>
        </div>
    </div>  
</div>