<!-- <div class="main-content-inner">
    <div class="row"> -->
<!-- nav tab start -->
<div class="col-lg-12 mt-1">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Đã nhận</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Đã xem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Đã trả lời</a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table mat-table [dataSource]="dataSourceSent" class="mat-elevation-z8">
                        <ng-container matColumnDef="userTo">
                            <th mat-header-cell *matHeaderCellDef>Người Gửi</th>
                            <td mat-cell *matCellDef="let element"> {{element.userFrom.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef>Tiêu Đề</th>
                            <td mat-cell *matCellDef="let element;let i = index;"> {{ element.subject}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày Gửi</th>
                            <td mat-cell *matCellDef="let element"> {{element.cDate | date:"dd/MM/yyyy"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status" [ngSwitch]="true">
                            <th mat-header-cell *matHeaderCellDef>Trạng Thái</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngSwitchCase="element.status == 0">Đã nhận</div>
                                <div *ngSwitchCase="element.status == 1">Đã xem</div>
                                <div *ngSwitchCase="element.status == 2">Đã trả lời</div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index;" (click)="notificationDetail(0 ,i, row)"></tr>
                    </table>
                    <div class="row page-footer">
                        <div class="col-sm-5 col-12">Tổng số : {{ totalPageSent }} thông báo</div>
                        <ngb-pagination class='col-12 col-sm-7 pagination' [collectionSize]="totalPageSent" [(page)]="currentPageSent" [maxSize]="perPage" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged($event,0)">
                        </ngb-pagination>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table mat-table [dataSource]="dataSourceSeen" class="mat-elevation-z8">
                        <ng-container matColumnDef="userTo">
                            <th mat-header-cell *matHeaderCellDef>Người Gửi</th>
                            <td mat-cell *matCellDef="let element;let i = index;" (click)="notificationDetail(1 ,i, element)"> {{element.userFrom.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef>Tiêu Đề</th>
                            <td mat-cell *matCellDef="let element;let i = index;" (click)="notificationDetail(1 ,i, element)"> {{element.subject}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày Gửi</th>
                            <td mat-cell *matCellDef="let element;let i = index;" (click)="notificationDetail(1 ,i, element)"> {{element.cDate | date:"dd/MM/yyyy"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status" [ngSwitch]="true">
                            <th mat-header-cell *matHeaderCellDef>Trạng Thái</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngSwitchCase="element.status == 0">Đã nhận</div>
                                <div *ngSwitchCase="element.status == 1">Đã xem</div>
                                <div *ngSwitchCase="element.status == 2">Đã trả lời</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element;let i = index;"><button class="btn btn-primary" type="button" (click)="creatNotifications(element, i)">Trả Lời</button></td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;let i = index;"></tr>
                    </table>
                    <div class="row page-footer">
                        <div class="col-sm-5 col-12">Tổng số : {{ totalPageSeen }} thông báo</div>
                        <ngb-pagination class='col-12 col-sm-7 pagination' [collectionSize]="totalPageSent" [(page)]="currentPageSeen" [maxSize]="perPage" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged($event,0)">
                        </ngb-pagination>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <table mat-table [dataSource]="dataSourceAnswered" class="mat-elevation-z8">
                        <ng-container matColumnDef="userTo">
                            <th mat-header-cell *matHeaderCellDef>Người Gửi</th>
                            <td mat-cell *matCellDef="let element"> {{element.userFrom.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef>Tiêu Đề</th>
                            <td mat-cell *matCellDef="let element;let i = index;"> {{element.subject}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày Gửi</th>
                            <td mat-cell *matCellDef="let element"> {{element.cDate | date:"dd/MM/yyyy"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status" [ngSwitch]="true">
                            <th mat-header-cell *matHeaderCellDef>Trạng Thái</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngSwitchCase="element.status == 0">Đã nhận</div>
                                <div *ngSwitchCase="element.status == 1">Đã xem</div>
                                <div *ngSwitchCase="element.status == 2">Đã trả lời</div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index;" (click)="notificationDetail(2 ,i, row)"></tr>
                    </table>
                    <div class="row page-footer">
                        <div class="col-sm-5 col-12">Tổng số : {{ totalPageAnswered }} thông báo</div>
                        <ngb-pagination class='col-12 col-sm-7 pagination' [collectionSize]="totalPageAnswered" [(page)]="currentPageAnswered" [maxSize]="perPage" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged($event,0)">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="modalShowNotification">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="detailNotification">
                <div class="modal-header">
                    <h5 class="modal-title">Chi Tiết Thông Báo</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-7">
                            <label class="col-form-label ">Người Nhận: </label>
                            <p id="notifi_userTo"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="example-number-input">Tiêu Đề:</label>
                            <p id="notifi_subject"></p>
                        </div>
                        <div class="col-sm-7">
                            <label for="input-content">Nội Dung:</label>
                            <p id="notifi_content"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="example-number-input">Ngày gửi:</label>
                            <p id="notifi_cDate"></p>
                        </div>
                        <div class="col-sm-7">
                            <label>Trạng Thái:</label>
                            <p id="notifi_status"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Trở về</button>
                </div>
            </form>
        </div>
    </div>
</div>