<div class="login-area">
  <div class="container">
    <div class="login-box ptb--100">
      <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
        <div class="login-form-head">
          <h4>Thay đổi mật khẩu</h4>
        </div>
        <div class="login-form-body">

          <div class="form-gp focused">
            <label for="exampleInputEmail1" class="required">Số điện thoại</label>
            <input type="text" id="exampleInputEmail1" formControlName="phone">
            <i class="ti-agenda"></i>
          </div>

          <div formGroupName="pw">
            <div class="form-gp focused">
              <label for="exampleInputPassword1" class="required">Mật khẩu mới</label>
              <input type="password" id="exampleInputPassword1" formControlName="password">
              <i class="ti-lock"></i>
            </div>
            <div
              *ngIf="userFormGroup.get('pw.password')?.errors?.required && (userFormGroup.get('pw.password').dirty || userFormGroup.get('pw.password').touched)"
              class="alert alert-danger">
              Mật khẩu là bắt buộc
            </div>
            <div
              *ngIf="userFormGroup.get('pw.password')?.errors?.minlength && (userFormGroup.get('pw.password').dirty || userFormGroup.get('pw.password').touched)"
              class="alert alert-danger">
              Mật khẩu phải nhiều hơn 8 ký tự
            </div>
            <div class="form-gp focused">
              <label for="exampleInputPassword2" class="required">Nhập lại mật khẩu mới</label>
              <input type="password" id="exampleInputPassword2" formControlName="passwordConfirm">
              <i class="ti-lock"></i>
            </div>
            <div
              *ngIf="userFormGroup.hasError('passwordnotmatch', ['pw']) && (userFormGroup.get('pw').dirty || userFormGroup.get('pw').touched)"
              class="alert alert-danger">
              Mật khẩu phải trùng nhau
            </div>
          </div>
          <div class="submit-btn-area">
            <button id="form_submit" type="submit" [disabled]="userFormGroup.invalid">Đổi mật khẩu<i
                class="ti-arrow-right"></i></button>
          </div>
          <div class="form-footer text-center mt-5">
            <p class="text-muted">Đã có tài khoản <a routerLink="/login">Đăng nhập</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>