<!-- <div class="main-content-inner">
    <div class="row"> -->
<!-- nav tab start -->
<div class="col-lg-12 mt-1">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Đã gửi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Đã xem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active show" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Đã trả lời</a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table mat-table [dataSource]="dataSourceSent" class="mat-elevation-z8">
                        <ng-container matColumnDef="userTo">
                            <th mat-header-cell *matHeaderCellDef>Người Nhận</th>
                            <td mat-cell *matCellDef="let element"> {{element.userTo.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef>Tiêu Đề</th>
                            <td mat-cell *matCellDef="let element;let i = index;"> {{element.subject}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày Gửi</th>
                            <td mat-cell *matCellDef="let element"> {{element.cDate | date:"dd/MM/yyyy"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status" [ngSwitch]="true">
                            <th mat-header-cell *matHeaderCellDef>Trạng Thái</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngSwitchCase="element.status == 0">Đã gửi</div>
                                <div *ngSwitchCase="element.status == 1">Đã xem</div>
                                <div *ngSwitchCase="element.status == 2">Đã trả lời</div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index;" (click)="notificationDetail(0 ,i, row)"></tr>
                    </table>
                    <nav class="page mt-3">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" (click)="prePage(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let pageNumber of pageNumbersSent">
                                <a *ngIf="pageNumber == currentPageSent,else inActive" class="page-link disabled ">{{pageNumber}}</a>
                                <ng-template #inActive><a class="page-link" (click)="goToPage(0,pageNumber)">{{pageNumber}}</a>
                                </ng-template>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="nextPage(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table mat-table [dataSource]="dataSourceSeen" class="mat-elevation-z8">
                        <ng-container matColumnDef="userTo">
                            <th mat-header-cell *matHeaderCellDef>Người Nhận</th>
                            <td mat-cell *matCellDef="let element"> {{element.userTo.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef>Tiêu Đề</th>
                            <td mat-cell *matCellDef="let element;let i = index;"> {{element.subject}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày Gửi</th>
                            <td mat-cell *matCellDef="let element"> {{element.cDate | date:"dd/MM/yyyy"}} </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="mDate">
                          <th mat-header-cell *matHeaderCellDef>Ngày Xem</th>
                          <td mat-cell *matCellDef="let element"> {{element.mDate | date:"dd/MM/yyyy"}} </td>
                      </ng-container> -->
                        <ng-container matColumnDef="status" [ngSwitch]="true">
                            <th mat-header-cell *matHeaderCellDef>Trạng Thái</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngSwitchCase="element.status == 0">Đã gửi</div>
                                <div *ngSwitchCase="element.status == 1">Đã xem</div>
                                <div *ngSwitchCase="element.status == 2">Đã trả lời</div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index;" (click)="notificationDetail(1 ,i, row)"></tr>
                    </table>
                    <nav class="page mt-3">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" (click)="prePage(1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let pageNumber of pageNumbersSeen">
                                <a *ngIf="pageNumber == currentPageSeen,else inActive" class="page-link disabled ">{{pageNumber}}</a>
                                <ng-template #inActive><a class="page-link" (click)="goToPage(1,pageNumber)">{{pageNumber}}</a>
                                </ng-template>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="nextPage(1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="tab-pane fade active show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <table mat-table [dataSource]="dataSourceAnswered" class="mat-elevation-z8">
                        <ng-container matColumnDef="userTo">
                            <th mat-header-cell *matHeaderCellDef>Người Nhận</th>
                            <td mat-cell *matCellDef="let element"> {{element.userTo.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef>Tiêu Đề</th>
                            <td mat-cell *matCellDef="let element;let i = index;"> {{element.subject}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày Gửi</th>
                            <td mat-cell *matCellDef="let element"> {{element.cDate | date:"dd/MM/yyyy"}} </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="mDate">
                          <th mat-header-cell *matHeaderCellDef>Ngày Trả Lời</th>
                          <td mat-cell *matCellDef="let element"> {{element.mDate | date:"dd/MM/yyyy"}} </td>
                      </ng-container> -->
                        <ng-container matColumnDef="status" [ngSwitch]="true">
                            <th mat-header-cell *matHeaderCellDef>Trạng Thái</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngSwitchCase="element.status == 0">Đã gửi</div>
                                <div *ngSwitchCase="element.status == 1">Đã xem</div>
                                <div *ngSwitchCase="element.status == 2">Đã trả lời</div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index;" (click)="notificationDetail(2 ,i, row)"></tr>
                    </table>
                    <nav class="page mt-3">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" (click)="prePage(2)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let pageNumber of pageNumbersAnswered">
                                <a *ngIf="pageNumber == currentPageAnswered,else inActive" class="page-link disabled ">{{pageNumber}}</a>
                                <ng-template #inActive><a class="page-link" (click)="goToPage(2,pageNumber)">{{pageNumber}}</a>
                                </ng-template>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="nextPage(2)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="modalShowNotification">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="detailNotification">
                <div class="modal-header">
                    <h5 class="modal-title">Chi Tiết Thông Báo</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-7">
                            <label class="col-form-label ">Người Nhận: </label>
                            <p id="notifi_userTo"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="example-number-input">Tiêu Đề:</label>
                            <p id="notifi_subject"></p>
                        </div>
                        <div class="col-sm-7">
                            <label for="input-content">Nội Dung:</label>
                            <p id="notifi_content"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="example-number-input">Ngày gửi:</label>
                            <p id="notifi_cDate"></p>
                        </div>
                        <div class="col-sm-7">
                            <label>Trạng Thái:</label>
                            <p id="notifi_status"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Trở về</button>
                </div>
            </form>
        </div>
    </div>
</div>