table.mat-elevation-z8 {
    width: 100%;
    margin-top: 20px;
}

table.mat-elevation-z8 th {
    font-size: 1.1rem;
    color: black;
}
table td{
    cursor: pointer;
}
.single-table th {
    font-size: 13px;
    text-transform: none;
}

.form-group.row {
    margin-bottom: 0;
}

.text-secondary {
    cursor: pointer;
}

.page-footer{
    background: #fff;
    padding-top: 1.1rem;
  }