table {
    width: 100%;
    margin-top: 20px;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }
  .create-bh{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
  }
  .form-group.row{
    margin-bottom: 0;
  }
  
  .text-secondary{
    cursor: pointer;
  }


.mat-column-select {
  overflow: initial;
}
.page-footer{
    background: #fff;
    padding-top: 1.1rem;
}

@media only screen and (max-width: 600px) {
  .pagination{
    display: flex;
    justify-content: center;
  }
} 
