
.mat-datepicker-toggle{
    font-size: 2rem
  }
  .my-custom-scrollbar {
    position: relative;
    max-height: 80vh;
    overflow: auto;
    background: white;
    
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    @media only screen and (max-width: 600px) {
      table td{
        font-size: 0.7rem;
      }
      table th,table td input{
        font-size: 0.8rem;
      }
     
    } 