
.mat-datepicker-toggle{
    font-size: 2rem
  }
  .my-custom-scrollbar {
    position: relative;
    max-height: 1200px;
    overflow: auto;
    background: white;
    
    }
    .table-wrapper-scroll-y {
    display: block;
    }