<div class="customLoading">
  <div class="customLoader"></div>
</div>

<div class="row input-date">
  <div class="col-sm-5 col-md-4">
    <label for="example-text-input " class="col-form-label">Tháng</label>
    <div class="input-group">
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" [formControl]="month">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 (monthSelected)="chooseMonth($event,picker2)" startView="multi-year" disabled="false">
        </mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group col-sm-5 col-md-3">
    <label class="col-form-label">Trạng thái phòng</label>
    <select class="custom-select mt-2" [(ngModel)]="roomStatus" (change)='getRoomsInfo()'>
      <option value="1" selected="selected">Phòng trống</option>
      <option value="2">Phòng đã có người</option>
      <option value="3">Tất cả</option>
    </select>
  </div>
</div>


<div class="row">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef>Phòng</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="roomType">
      <th mat-header-cell *matHeaderCellDef>Loại phòng</th>
      <td mat-cell *matCellDef="let element"> {{element.roomTypeName}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Giá tiền</th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="numberTenant">
      <th mat-header-cell *matHeaderCellDef>Số người ở</th>
      <td mat-cell *matCellDef="let element"> {{element.numberTenant}}/{{element.capacity}}</td>
    </ng-container>
    <ng-container matColumnDef="listEquip">
      <th mat-header-cell *matHeaderCellDef>Tiện ích</th>
      <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-outline-secondary" ngbPopover="{{element.equipments}}"
              popoverClass="my-custom-class">
              Chi tiết
          </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf='element.numberTenant != 0' class="status-p bg-warning">{{element.statusStr}}</span>
        <span *ngIf='element.numberTenant == 0' class="status-p bg-success">{{element.statusStr}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Mô tả</th>
      <td mat-cell *matCellDef="let element"> {{element.description | maxLength : 10  }} </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();">

    </tr>
  </table>
</div>

<div class="row page-footer">
  <div class="col-sm-5 col-12">Tổng số phòng : {{totalPage}}</div>
  <ngb-pagination class='col-12 col-sm-7 pagination' [collectionSize]="totalPage" [(page)]="currentPage"
    [maxSize]="perPage" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged($event)">
  </ngb-pagination>
</div>