<div class="customLoading">
  <div class="customLoader"></div>
</div>
<div class="extrafee">
  <div class="row input-date ml-3">

    <div class="col-sm-4 ">
      <label for="example-text-input" class="col-form-label"> Chọn Tháng</label>
      <div class="input-group">
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" [formControl]="month">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 (monthSelected)="chooseMonth($event,picker2)" startView="multi-year"
            disabled="false">
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-3">
      <label class="col-form-label">Chọn phòng</label>
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Điền tên phòng" aria-label="Assignee" matInput [matAutocomplete]="auto"
          [formControl]="roomControl">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-sm-3 mt-5" id='searchBtn'>
      <button type="button" class="btn btn-secondary" (click)="searchByRoom()">
        <span _ngcontent-fdu-c2="" class="ti-search"></span> Tìm kiếm
      </button>
    </div>
    <div class="col-sm-4 col-md-2 mt-5" id='createBtn'><input class="btn btn-primary float-right" type="submit"
        value="Tạo chi phí phát sinh" (click)="createExtrafee()"> </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef>Phòng</th>
      <td mat-cell *matCellDef="let element"> {{element.roomObj.name}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Số tiền</th>
      <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
      <td mat-cell *matCellDef="let element"> {{element.description | maxLength : 15}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Ngày</th>
      <td mat-cell *matCellDef="let element"> {{element.cDate | date:"dd/MM/yyyy" }} </td>
    </ng-container>
    <ng-container matColumnDef="customColumn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row; let i = index">
        <ul class="d-flex justify-content-center">
          <li class="mr-3"><a class="text-secondary" (click)="editEF(row)"><i class="fa fa-edit"></i></a></li>
          <li><a class="text-danger" (click)="deleteEF(i)"><i class="ti-trash"></i></a></li>
        </ul>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">

    </tr>
  </table>



</div>
<div class="row page-footer">
  <div class="col-sm-5 col-12">Tổng số chi phí phát sinh : {{totalPage}}</div>
  <ngb-pagination class='col-12 col-sm-7 pagination' [collectionSize]="totalPage" [(page)]="currentPage"
    [maxSize]="perPage" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged($event)">
  </ngb-pagination>
</div>
<div class="modal fade bd-example-modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <form [formGroup]="createEFFormGroup" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 *ngIf="isEdit == 0; else edit" class="modal-title">Tạo chi phí khác</h5>
          <ng-template #edit>
            <h5 *ngIf="isEdit == 1 || isEdit == 3" class="modal-title">Sửa chi phí khác</h5>
          </ng-template>
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        </div>
        <div class="modal-body">




          <!-- Textual inputs start -->

          <div class="form-group row">
              <div class="col-sm-4">
                  <label class="col-form-label required">Ngày tạo</label>
                  
                    <input type='text' class="form-control" id='date-create' disabled/>
              </div>

          </div>
          <div class="form-group row">
            <div class="col-sm-4">

              <label class="col-form-label required">Chọn phòng</label>
              <mat-form-field class="example-full-width">
                <input type="text" id='room-name' placeholder="Điền tên phòng" aria-label="Assignee" matInput
                  [matAutocomplete]="auto1" [formControl]="roomControlCreate">
                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn"
                  (optionSelected)="onChooseRoom($event.option.value)">
                  <mat-option *ngFor="let option of filteredOptionsCreate | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
            <div class="col-sm-6">
              <label for="input-price" class="col-form-label required">Số tiền</label>
              <div><small>Số tiền sẽ được tăng hoặc giảm vào tài chính tháng này</small></div>
              <div class="div">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" checked="" id="increase" name="customRadio2" class="custom-control-input">
                  <label class="custom-control-label" for="increase">Tăng</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="decrease" name="customRadio2" class="custom-control-input">
                  <label class="custom-control-label" for="decrease">Giảm</label>
                </div>
              </div>

              <div class="input-group">
                <input type="text" class="form-control input-price" id='extraFee' formControlName="price">
                <div class="input-group-append">
                  <span class="input-group-text">Đồng</span>
                </div>
              </div>
              <div
                *ngIf="createEFFormGroup.controls['price'].hasError('required') && (createEFFormGroup.controls['price'].dirty || createEFFormGroup.controls['price'].touched)"
                class="alert alert-danger">
                Số tiền là bắt buộc
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label required">Người chịu chi phí</label>
              <div><small id='haveTenantMessage'></small></div>
              <div class="input-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" checked="" id="landlord" name="customRadio3" class="custom-control-input">
                  <label class="custom-control-label" for="landlord">Chủ trọ</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="tenant" name="customRadio3" class="custom-control-input">
                  <label class="custom-control-label" for="tenant">Khách thuê</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="example-tel-input" class="col-form-label required">Nội dung</label>
              <textarea class="form-control" rows="3" formControlName="description"></textarea>
              <div
                *ngIf="createEFFormGroup.controls['description'].hasError('required') && (createEFFormGroup.controls['description'].dirty || createEFFormGroup.controls['description'].touched)"
                class="alert alert-danger">
                Vui lòng nhập nội dung
              </div>
            </div>
          </div>
          <!-- [disabled]="createbhFormGroup.invalid" -->
        </div>
        <!-- Textual inputs end -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">Trở về</button>
          <button class="btn btn-info mb-3" type="submit" id="myButton"
            [disabled]="createEFFormGroup.invalid || isEdit == 3">
            Lưu</button>
        </div>

      </form>
    </div>
  </div>
</div>