
.mat-datepicker-toggle{
    font-size: 2rem
  }
  table {
    width: 100%;
    margin-top: 20px;
  }
  table th{
    font-size: 1.1rem;
    color: black;
  }
  .example-full-width {
    width: 100%;
  }
 
  small{
    color: midnightblue;
  }
.searchBox{
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  table td{
    font-size: 0.6rem;
  }
  table th{
    font-size: 0.8rem;
  }
  .example-full-width {
    width: 50%;
  }
  .searchBox{
    margin-top: 5px;
  }
} 

.page-footer{
  background: #fff;
  padding-top: 1.1rem;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
.pagination{
  display: flex;
  justify-content: center;
}
} 
