<!-- <div id="preloader">
  <div class="loader"></div>
</div> -->
<!-- preloader area end -->
<!-- login area start -->
<div class="login-area">
  <div class="container">
      <div class="login-box ptb--100">
          <form>
              <div class="login-form-head">
                  <h4>Đăng nhập</h4>
              </div>
              <div class="login-form-body">
                  <div class="form-gp focused">
                      <label for="exampleInputEmail1">Số điện thoại</label>
                      <input type="text" id="exampleInputEmail1">
                      <i class="ti-agenda"></i>
                  </div>
                  <div class="form-gp focused">
                      <label for="exampleInputPassword1">Mật khẩu</label>
                      <input type="password" id="exampleInputPassword1">
                      <i class="ti-lock"></i>
                  </div>
                  <div class="row mb-4 rmber-area">
                      <div class="col-6">
                          <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                              <label class="custom-control-label" for="customControlAutosizing">Nhớ tài khoản</label>
                          </div>
                      </div>
                      <div class="col-6 text-right">
                          <a href="#">Quên mật khẩu</a>
                      </div>
                  </div>
                  <div class="submit-btn-area">
                      <button id="form_submit" type="submit">Đăng nhập <i class="ti-arrow-right"></i></button>
                      
                  </div>
                  <div class="form-footer text-center mt-5">
                      <p class="text-muted">Chưa có tài khoản<a routerLink="/register">Đăng ký</a></p>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
<script src="assets/js/scripts.js"></script>